.form {
  align-items: center;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%
}

.form header {
  color: #444955;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 16px;
  font-style: normal;
  margin: 5rem 7rem 2rem;
}

.form div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 4rem;
  flex-grow: 1;
}

.large-input {
  background: white;
  border: none;
  border-bottom: black solid 1px;
  height: 30px;
  margin: 5px;
  width: 355px;
}

.text-area {
  background: white;
  border: none;
  border-bottom: black solid 1px;
  resize: none;
  width: 355px;
}

.has-label, label {
  color: #444955;
  display: block;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 18px;
  font-weight: 600;
}
